<article class="post-card">
  <h2 class="post-card__title">
    <a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a>
  </h2>
  <div class="post-card__meta">
    <time datetime="{{ include.post.date | date_to_xmlschema }}">{{ include.post.date | date_to_string }}</time>
    {% if include.post.tags %}
    <span aria-hidden="true">·</span>
    {% for tag in include.post.tags %}
    <a href="{{ site.baseurl }}{{ site.tage_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
    {% endif %}
  </div>
  {% if include.excerpt != false %}
  <div class="post-card__excerpt">
    {{ include.post.excerpt | markdownify }}
  </div>
  {% endif %}
  <div class="post-card__footer">
    {% if site.disqus_short_name %}
    <a href="{{ site.baseurl }}{{ include.post.url }}#disqus_thread">
      {% include icon.html icon='comment' %}
      Comment
    </a>
    {% endif %}
    <a href="{{ site.baseurl }}{{ include.post.url }}">
      Read more
      {% include icon.html icon='arrow-right' %}
    </a>
  </div>
</article>
