---
layout: default
---

<article class="post-article">
  <header class="post-article__header">
    <h1 class="post-article__title">{{ page.title }}</h1>
    <div class="post-article__meta">
      <time class="post-article__date" datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date_to_string }}</time>
      {% if page.tags %}
      <span aria-hidden="true">·</span>
      {% for tag in page.tags %}
      <a href="{{ site.baseurl }}{{ site.tage_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
      {% endfor %}
      {% endif %}
    </div>
  </header>

  <div class="post-article__body prose">
    {{ content }}
  </div>
</article>

{% for item in site.data.related %}
  {% if page.slug == item.post %}
    <section class="related">
      <h2 class="related__title">Related Posts</h2>
      <ul class="related-posts">
        {% for pslug in item.related %}
          {% for p in site.posts %}
            {% if p.slug == pslug %}
              <li>
                <a href="{{ site.baseurl }}{{ p.url }}">
                  {{ p.title }}
                  <small>{{ p.date | date_to_string }}</small>
                </a>
              </li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    </section>
  {% endif %}
{% endfor %}

{% if site.disqus_short_name %}
<section class="comments">
  <h2 class="comments__title">Comments</h2>
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
      this.page.url = '{{ site.url }}{{ page.url }}';
      this.page.identifier = '{{ page.id }}';
    };
    (function() {
      var d = document, s = d.createElement('script');
      s.src = '//{{ site.disqus_short_name }}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
{% endif %}
